
<div >
    <form>
      <div class="header">
        <h2>User Registration</h2>
    </div>
      <div class="form-group">
        <label for="firstname" name="firstname"  >First Name</label>
        <input type="text" class="form-control" placeholder="Enter First Name">
      </div>
      <pre></pre>
      <div class="form-group">
        <label for="lastname" name="lastname" >Last Name</label>
        <input type="text" class="form-control" placeholder="Enter Last Name">
      </div>
      <pre></pre>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control"  placeholder="Enter email">
        </div>
        <pre></pre>        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>